* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo_header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}

.logo {
  border: 2px black solid;
  background-color: black;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 40px 20px;
  font-weight: bold;
}

.logo_header_title {
  margin-left: 10px;
}

.Download__Button {
  display: block;
  margin: 30px auto;
  width: 15%;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  background-color: gold;
  color: black;
  padding: 6px 18px 6px 18px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  cursor: default;
}